<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.morae.groupbuy.dao.CommentDao">
<!-- 댓글 가져오기 -->
<select id="getComment" parameterType="int" resultType="kr.co.morae.groupbuy.dto.CommentDto">
SELECT g.userId, g.gbNo, g.comment, g.commState, g.commNo, g.commRegDate,
(
SELECT nickname
FROM user
WHERE userId = g.userid)nickname
FROM groupBuyingComment g
WHERE gbNo = #{param1} AND g.commState = 'N'
ORDER BY g.commNo 
LIMIT 5 OFFSET #{param2};
</select>

<select id="getTotalComment" resultType="int">
select count(*)
from groupBuyingComment
where gbNo = #{param1} and commState = 'N'
</select>

<update id="modifyComment" parameterType="hashMap">
UPDATE groupBuyingComment 
SET comment = #{comment}
WHERE gbNo=#{gbNo} and commNo=#{commNo}
</update>

<delete id="deleteComment" parameterType="hashMap">
DELETE 
FROM groupBuyingComment
WHERE gbNo=#{gbNo} and commNo=#{commNo};
</delete>

<insert id="writeComment" parameterType="hashMap">
insert into groupBuyingComment (userId, gbNo, comment, commState)
values(#{userId}, #{gbNo}, #{comment}, 'N')
</insert>
</mapper>






