<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.morae.user.dao.UserDao">
	
	<select id="login" resultType="kr.co.morae.user.dto.UserDto">
		select u.userId, u.password, u.email, u.nickname, u.name, u.reg_date, u.age, u.gender, a.authNo, d.streetAddress, d.userDetailAddress, d.detailAddress, t.authType
			from user u 
				left join userAuth a on u.userId = a.userId
				left join userAddress d on u.userId = d.userId
				left join author t on a.authNo = t.authNo
					where u.userId = #{param1} and u.password = #{param2}
	</select>
	
	<select id="findId" resultType="String" parameterType="map">
		select userId from user where name = #{name} and email = #{email}
	</select>
	
	<select id="findPw" resultType="String" parameterType="map">
		select userId from user
			where userId = #{id} and name = #{name} and email = #{email}
				and hintNo = #{hintNo} and hintAnswer = #{hintAnswer};
	</select>
	
	<update id="correctPw">
		update user set password = #{param2} where userId = #{param1}
	</update>
	
	<select id="overlay" resultType="int">
			SELECT COUNT(userId) FROM user
				WHERE userId = #{param1}	
		</select>
		
		
		<select id="overemail" resultType="int">
			SELECT COUNT(email) FROM user
				WHERE email = #{param1}	
		</select>
		
		
		<select id="overnickname" resultType="int">
			SELECT COUNT(nickname) FROM user
				WHERE nickname = #{param1}	
		</select>
			
		<insert id="insertJoinData" parameterType="map">
			INSERT INTO user(userId,passWord,name,age,gender,email,nickname,hintAnswer,hintNo)
				VALUES(#{id},#{pw},#{name},#{age},#{gender}
				,#{email},#{nickname},#{pwanswer},#{hint})			
		</insert>
		
		
		
		<insert id="insertUserAddr" parameterType="map">
			INSERT INTO userAddress(userId,streetAddress,userDetailAddress,detailAddress)
				VALUES(#{id},#{addr1},#{addr2},#{addr3})	
		
		</insert>
	
</mapper>